@import '../global';

.search-all {
  display: inline-block;
  vertical-align: top;
  width: 701px;
  margin-left: 21px;
  margin-right: 20px;
  font-size: 16px;
  background-color: white;
  .m-top-21 {
    margin-bottom: 21px;
  }
  .title {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    span > span {
      color: $orange-color;
    }
  }
  .subtitle {
    height: 40px;
    line-height: 40px;
    background-color: $primary-color;
    .inner {
      color: #FFFFFF;
      margin-left: 37px;
      margin-right: 47px;
      .right {
        font-size: 14px;
        display: inline-block;
        float: right;
        height: 100%;
        width: 82px;
        cursor: pointer;
        user-select: none;
      }
    }
  }
  .row {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    overflow: hidden;
    position: relative;
    & > .image-item:first-child {
      float: left;
    }
    & > .image-item:last-child {
      float: right;
    }
    & > .image-item:nth-child(2) {
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .inners {
    width: 90%;
    margin: 0 auto;
  }
}
