@import "../global";
.thesis-list-center {
  width: 100%;
  ul {
    li {
      .thesis-item {
        margin: 12px auto;
        img {
          width: 120px;
          height: 175px;
        }
        .thesis-title {
          color: #000;
          font-size: 16px;
          height: 30px;
          font-weight: bold;
        }

        .thesis-subtitle {
          font-size: 12px;
          width: 100%;
          .thesis-category {
            color: $orange-color;
            border: 1px $orange-color solid;
            padding: 1px 3px;
            margin-right: 2px;
            border-radius: 3px;
          }
          .thesis-publish-id {
            color: white;
            background-color: #a1a1a1;
            border-radius: 3px;
            padding: 1px 3px;
          }
          span {
            color: #666666;
            margin-right: 2px;
          }
        }

        .thesis-summary {
          margin: 10px 0;
          font-size: 12px;
          line-height: 18px;
          color: #666666;
        }

        .thesis-keyword {
          margin-bottom: 10px;
          font-size: 12px;
          line-height: 18px;
          color: $primary-color;
          span {
            margin-right: 2px;
          }
        }

        .thesis-item-btn-group {
          margin: 10px 0 15px 0;
          span {
            font-size: 12px;
            cursor: pointer;
            color: $orange-color;
            border: 1px $orange-color solid;
            padding: 1px 6px;
            margin-right: 5px;
            border-radius: 3px;
          }
        }

        .thesis-divider {
          border-bottom: 1px solid #d8d8d8;
        }
      }
    }
  }
}

@media only screen and (max-width: $max-width) {
  .thesis-list-center {
    ul {
      li {
      }
    }
  }
}
