@import "../global";

.app-footer {
  height: 200px;
  width: 100%;
  position: relative;
  background-color: $primary-color;
  .inner {
    width: 912px;
    height: 108px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    user-select: none;
    .container {
      & > span:nth-child(odd) {
        color: #ffffff;
      }
      & > span:nth-child(even) {
        color: $orange-color;
        margin-left: 21px;
        margin-right: 21px;
      }
    }
    .icp {
      bottom: 40px;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      & > a:active, & > a:link, & > a:visited {
        color: #ffffff;
      }
    }
    .copyright {
      bottom: 20px;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
    .contact {
      bottom: 0;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }

  }
}
